# Data Science Tools and Ecosystem
In this notebook, Data science tools and ecosystem are summarized

**Objective**

* List of popular languages for Data Science.
* List of common libraries for Data Science.
* Data science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R languages
3. Java
4. SQL

Some of the common libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Keras

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Github|

## Author
Nhu Nguyen

### Below are a few examples of evaluating arithmetic expressions in python

In [19]:
(3*4)+5
#this a simple arithmetic expression to multiply then add integers

17

In [23]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)
#this will convert 200 minutes to hours by diving by 60

Enter time in minutes 200

Hours= 3
Minutes= 20